<!DOCTYPE html>
<html lang="en">
 <%- require('./layout/head.ejs')() %>
  <body>
    <%- require('./layout/header.ejs')() %>
    <div id="root"></div>
    <h2> </h2>
    <div><input type='button' value='Test a local API request'/></div>
    <div>&nbsp;</div>
    <div id='response'></div>
    <p> </p>
     <%- require('./layout/footer.ejs')() %>
  </body>
</html>
