<!DOCTYPE html>
<html lang="en">
<%- require('./layout/head.ejs')() %>
<body>
  <%- require('./layout/header.ejs')() %>
 <main id="terms">
    <div class="container">
      <div class="row">
         <div class="box">
        <div class="card">
          <div class="card-header">
            <h2>Terms & Conditions</h2>
          </div>
          <div class="card-body">
<p>            Welcome to the odyssey.co.in topsite. This web site is owned and operated by Odyssey Tours & Travels Pvt Ltd, a company registered in India with registered number xxx whose registered office is at Mumbai, Maharashtra, India.</p>

<p>Visitors to this web site are bound by the following terms and conditions, please read these carefully before you continue.</p>

<p>For the purposes of these terms and conditions, "this web site" means the following parts of the www.odyssey.co.in website:</p>

<ul>
  <li>www.odyssey.co.in/tim</li>
<li>www.odyssey.co.in/careers</li>
</ul>

<p>Other Odyssey web sites may contain terms and conditions which are different from these. On your journey around the Odyssey websites please check the terms and conditions of each web site and do not assume that these terms and conditions apply to all Odyssey web sites.</p>

<h4>Terms and Conditions</h4>

<p>This web site contains material including text, photographs and other images and sound, which is protected by copyright and/or other intellectual property rights. All copyright and other intellectual property rights in this material are either owned by Odyssey Tours & Travels Pvt Ltd or have been licensed to it by the owner(s) of those rights so that it can use this material as part of this web site.
This web site also contains trade marks, including the mark "Odyssey Topurs". All trade marks included on this web site belong to Odyssey Tours & Travels Pvt Ltd or have been licensed to it by the owner(s) of those trade marks for use on this web site.</p>

<p><b>You may not</b></p>
<ul>
  <li>access any part of the web site without being authorised to do so by the company;</li>
<li>print off one copy of any or all of the pages for your own personal reference.</li>
<li>copy (whether by printing off onto paper, storing on disk, downloading or in any other way), distribute (including distributing copies), broadcast, alter or tamper with in any way or otherwise use any material contained in the web site except as set out under "You may". These restrictions apply in relation to all or part of the material on the web site;</li>
<li>remove any copyright, trade mark or other intellectual property notices contained in the original material from any material copied or printed off from the web site without our express written consent.</li>
</ul>

<h4>Jurisdiction</h4>
These terms and conditions are governed by and to be interpreted in accordance with Indian law and in the event of any dispute arising in relation to these terms and conditions or any dispute arising in relation to the web site whether in contract or tort or otherwise the Indian courts will have non-exclusive jurisdiction over such dispute.

          </div>
        </div>
      </div>
      </div>
    </div>
  </main>
  <%- require('./layout/footer.ejs')() %>
</body>
</html>
